body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

@media (min-width: 1200px) {
    .chat-page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #F7F8F9;
        min-height: 0;
    }

    .chat-header {
        background-color: white;
        flex: 0 0 61px;
        /*height: 61px;*/
        /*flex-shrink: 0;*/
        border-bottom: 1px solid #C2C2C2;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }

    .user-avatar {
        border-radius: 50%;
        object-fit: cover;
    }

    header {
        /*height: 100%;*/
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 415px;
        margin-right: 310px;
        padding: 9px 24px 10px 24px;
    }

    .avatar-chat {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .chat-name {
        font-weight: 600;
        font-size: 16px;
    }

    .online {
        font-weight: 400;
        font-size: 14px;
        color: #27AE60;
    }

    .header-chat-name {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .header-chat-name p {
        margin: 0;
    }

    .profile-button {
        width: 18px;
        height: 18px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        /*display: inline-flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
    }

    .profile-button img {
        width: 100%;
        height: 100%;
        /*object-fit: contain;*/
        /*display: block;*/
    }

    .chat-messages {
        background-color: #F7F8F9;
        margin-left: 415px;
        margin-right: 310px;
        /*width: 50%;*/
        /*height: calc(100vh - 61px);*/
        display: flex;
        flex: 1 1 auto;
        /*flex: 1;*/
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
        min-height: 0;
        /*overflow: hidden;*/
    }

    .messages-wrapper {
        /*padding: 40px 24px;*/
        padding: 40px 24px 0px 24px;
        /*height: 100%;*/
        /*width: 715px;*/
        display: flex;
        /*flex: 1;*/
        flex-direction: column;
        box-sizing: border-box;
        overflow-y: auto;
        gap: 20px;
        /*justify-content: flex-end;*/
        min-height: 0;
        flex: 1 1 auto;
    }

    .spacer {
      height: 100%;
    }

    .message-input-form {
        /*flex: 0 0 10.17%;*/
        flex: 0 0 auto;
        padding: 0px 24px 40px 24px;
        /*min-height: 68px;*/
        box-sizing: border-box;
        display: flex;
    }

    .message {
        /*flex: 1;*/
        margin-right: 147px;
        background-color: white;
        border-radius: 12px;
        border: 1px solid white;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .message img {
        padding: 12px 12px 0 12px;
    }

    .message-avatar-img {
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid white;
    }

    .message-username {
        font-size: 16px;
        font-weight: 600;
    }

    .message-config {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: -50px;
        right: 0;
    }

    .message.message-of-mine {
        margin-right: 0;
        margin-left: 147px;
    }

    .message.message-of-mine .message-avatar-img {
        display: none;
    }

    .message-data {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 12px 12px 12px 0;
        gap: 6px;
    }

    .message.message-of-mine .message-data {
        padding-left: 12px;
    }

    .message-data p {
        margin: 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 135%;
    }

    .message-meta {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    .message-of-mine .message-data .message-meta {
        justify-content: space-between;
    }

    .message-of-mine .message-data .message-meta .message-username {
        display: none;
    }

    .config-button {
        width: 24px;
        height: 24px;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
    }

    .config-button img {
        /*width: 100%;*/
        /*height: 100%;*/
        padding: 0;
        display: block;
        object-fit: contain;
    }

    .config-button:hover {
        /*border: 1px solid #5856D6;*/
    }

    .bottom-form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: stretch;
    }

    .input-wrapper {
        position: relative;
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 68px;
        border: 1px solid #C2C2C2;
        border-radius: 16px;
        padding: 22px 92px 22px 24px;
        font-size: 16px;
        font-weight: 400;
        box-sizing: border-box;
        resize: none;
        overflow-y: hidden;
        transition: all 0.2s ease;
        line-height: 150%;
    }

    .submit-message-button {
        position: absolute;
        right: 24px;
        top: 47%;
        transform: translateY(-50%);
        background-color: #5856D6;
        border: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit-message-button img {
        width: 24px;
        height: 24px;
        pointer-events: none;
    }

    .submit-message-button:hover {
        transform: translateY(-50%) scale(1.05);
    }

    .today-separator {
        display: flex;
        align-items: center;
        /*justify-content: center;*/
        width: 100%;
        color: #646464;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        gap: 16px;
    }

    .today-separator::before,
    .today-separator::after {
        content: "";
        flex: 1;
        height: 1px;
        background-color: #C2C2C2;
    }
}
