body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F7F8F9;
}

@media (width >= 1200px) {
    .chat-page {
        height: 100vh;
    }

    .chat-header {
        background-color: white;
        height: 61px;
    }

    .chat-messages {
        background-color: #F7F8F9;
        margin-left: 415px;
        margin-right: 310px;
        /*width: 50%;*/
        height: calc(100vh - 61px);
    }

    .messages-wrapper {
        padding: 40px 24px;
        height: 100%;
        /*width: 715px;*/
        display: flex;
        flex: 1;
        flex-direction: column;
        box-sizing: border-box;
        gap: 20px;
    }

    .message {
        overflow-y: scroll;
        flex: 100%;
    }

    .message-input-form {
        flex: 0 0 10.17%;
        /*min-height: 68px;*/
        box-sizing: border-box;
        display: flex;
    }

    .bottom-form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: stretch;
    }

    .input-wrapper {
        position: relative;
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 68px;
        border: 1px solid #C2C2C2;
        border-radius: 16px;
        padding: 22px 92px 22px 24px;
        font-size: 16px;
        font-weight: 400;
        box-sizing: border-box;
        resize: none;
        overflow-y: hidden;
        transition: all 0.2s ease;
        line-height: 150%;
    }

    .submit-message-button {
        position: absolute;
        right: 24px;
        top: 47%;
        transform: translateY(-50%);
        background-color: #5856D6;
        border: none;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .submit-message-button img {
        width: 24px;
        height: 24px;
        pointer-events: none;
    }

    .submit-message-button:hover {
        transform: translateY(-50%) scale(1.05);
    }
}
